[submodule "ongoing/mochajs/mocha"]
	path = ongoing/mochajs/mocha
	url = git@github.com:ByteB4rb1e/mocha.git
	branch = feature/5049
[submodule "ongoing/pradyunsg/sphinx-theme-builder"]
	path = ongoing/pradyunsg/sphinx-theme-builder
	url = git@github.com:ByteB4rb1e/sphinx-theme-builder.git
[submodule "ongoing/squid-cache/squid"]
	path = ongoing/squid-cache/squid
	url = git@github.com:ByteB4rb1e/squid.git
[submodule "ongoing/msys2/MINGW-packages"]
	path = ongoing/msys2/MINGW-packages
	url = git@github.com:ByteB4rb1e/MINGW-packages.git
